
# tessdata/
# tessdata_fast/
# tessdata_best/

sizes/movie/

/sizes/dump.pdf
/sizes/movie.mp4

/sizes/ffmpeg.help.txt
/sizes/tmp-ffmpeg-files-list
/sizes/tmp-files-list
/sizes/tmp-files-list.lst
/sizes/tmp-files-list-process.sh

/sizes/B_RUN_data-*
/sizes/data-*
/sizes/B_RUN_data_*
/sizes/data_*

/borders/RUN_data*

/borders/SRCIMG-F-*

/sizes/diagnostics-output

# the scripts in this directory should be visible, but any output should possibly be hidden:
/sizes/weird-segfault-hunted/*.log
/sizes/weird-segfault-hunted/*.html
/sizes/weird-segfault-hunted/*.tsv
/sizes/weird-segfault-hunted/*.txt
/sizes/weird-segfault-hunted/*.hocr

